.basket-wrap {
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.basket-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.basket-item-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}

.basket-item-img img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}

.basket-item-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.basket-item-count input {
    width: 3em;
}

.basket-item-count p {
    margin: 0;
    padding: 0;
}

.basket-item-count {
    display: flex;
    flex-direction: column;
}

.basket-item-delete-button img {
    width: 30px;
    height: 30px;
    display: block;
}

:host {
    height: 100%;
    display: block;
}

.confirm-order {
    width: fit-content;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: var(--primary-accent-color);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}

.confirm-order p {
    margin: 0;
    padding: 0;
}