<header id="header">
    <div id="header-logo-wrap">
        <a>
            <img src="placeholder.svg">
        </a>
    </div>
    <div id="header-nav-wrap">
        <nav id="header-nav">
            <ul id="header-nav-ul">
                <li class="nav-element">
                    <div>Главная</div>
                </li>
                <li class="nav-element">
                    <div>Поддержка</div>
                </li>
                <li id="header-login" class="nav-element">
                    <div (click)="onGoToProfileClick()">Вход в кабинет</div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section id="first-section">
        <h1>Конструктор интернет-магазинов для мини приложений мессенджера</h1>
        <div id="create-shop-button" (click)="onGoToProfileClick()">Создать магазин</div>
    </section>
</main>
<footer>
    Футер
</footer>