:host {
    width: 100%;
    height: 100%;
}

.properties-panel-wrap {
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.properties-panel-img {
    width: 48px;
    height: 48px;
}

.properties-panel-img img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
}

.properties-panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.properties-button {
    margin-left: auto;
}