:host {
    height: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow: hidden;
}

.table-wrap {
    height: 440px;
    overflow: auto;
}

.good-table {
    width: 100%;
    table-layout: fixed;
    font-size: 16px;
    border-collapse: collapse;
    flex: 1;
    text-align: center;
    max-height: 100%;
}

.good-table img {
    width: 64px;
    height: 64px;
    display: block;
}

.good-table th {
    background-color: var(--secondary-accent-color);
    font-weight: 400;
    position: sticky;
}

.good-table td {
    padding: 10px;
    height: min-content;
}

.good-table th:first-child {
    width: 84px;
}