<div class="panel">
    <div class="panel-main-header">
        <div class="accent-font">Товары в категории</div>
        <div class="input-wrapper">
            <input type="text" placeholder="Поиск" [(ngModel)]="searchQuery">
        </div>
    </div>
    <div class="table-wrap">
        <table class="good-table">
            <thead>
                <th>Иконка</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Остаток на складе</th>
                <th>Продано</th>
            </thead>
            <tbody>
                @for (good of filteredGoods(); track good.id) {
                    <tr [class.selected-good]="selectedGood()?.id === good.id" (click)="selectGood(good)">
                        <td>
                            <img [src]="getGoodImageSrc(good)">
                        </td>
                        <td>
                            {{ good.title }}
                        </td>
                        <td>
                            {{ good.category }}
                        </td>
                        <td>
                            {{ good.price }}
                        </td>
                        <td>
                            {{ good.count }}
                        </td>
                        <td>
                            {{ good.orderCount }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-main-header-buttons">
        @if (selectedGood()) {
            <app-button caption="Изменить" [onClickCallback]="showModal.bind(this)"></app-button>
            <app-button caption="Удалить" [onClickCallback]="onDeleteGoodClick.bind(this)"></app-button>
        }
        @else {
            <app-button caption="Добавить" [onClickCallback]="showModal.bind(this)"></app-button>
        }
        <app-button caption="Импорт" [onClickCallback]="onImportClick.bind(this)"></app-button>
        <app-button caption="Экспорт" [onClickCallback]="onExportGoods.bind(this)"></app-button>
    </div>
    <input type="file" #fileInput accept=".xlsx,.xls" style="display:none" (change)="onFileSelected($event)">
</div>
<div class="popup-add-good">
    @if (isModalOpened()) {
        <app-popup [config]="getPopupConfig()"></app-popup>
    }
</div>