<div class="full-wrap">
    <div class="panel panel-main-header">
        <div class="panel-main-header-caption accent-font">
            Настройки
        </div>
    </div>
    <div class="settings-layout">
        <div class="settings-preview">
            <div class="preview-frame">
                <app-shop-card-preview (viewInit)="onPreviewInit()" />
            </div>
        </div>
        <div class="settings-controls panel">
            <app-shop-color-settings (colorChange)="onColorsChange($event)"
            [loadedColors]="loadedColors()" />
        </div>
    </div>
</div>
