.input-wrapper input {
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.preview {
    height: 100px;
}

.preview-image {
    display: block;
    height: 100%;
    width: auto;
}